<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Today Extension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>TodayExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>weatherDataKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>940472541BC6AEAC004BB0BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9404725E1BC6AEAC004BB0BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94D964B81BBADB7500436252</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94D964D01BBADB7500436252</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94D964E41BBADE7B00436252</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
